{% extends 'bootstrap_theme.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <button type="button" class="btn btn-outline-primary" id="btn_create_entity">Create new entity</button>
            </div>

            <div class="col-md-6 p-3 mb-2 bg-light text-dark border border-primary">
                <br>
                <form id="entity_form">
                    <div class="mb-3 row">
                        <label for="name" class="col-sm-2 col-form-label">EventName</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control form-control-sm" id="name" name="event_name">
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                      <textarea class="form-control" placeholder="Leave a comment here" id="comments" name="comments"></textarea>
                      <label for="comments">Comments</label>
                    </div>

                    <div class="mb-3 row">
                        <label for="image" class="col-sm-2 col-form-label">Image</label>
                        <div class="col-sm-10">
                            <input class="form-control form-control-sm" id="image" type="file" name="image_path">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-sm-5"></div>
                        <div class="col-sm-7">
                            <button type="submit" class="btn btn-success">Save</button>
                            <button type="button" class="btn btn-danger" id="event_cancel">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h1 class="display-6">Entity lists</h1>
            </div>
        </div>
    </div>

    {% load static %}
    <script src="{% static '/js/entities.js' %}" type="text/javascript"></script>

{% endblock %}