{% extends  'bootstrap_theme.html' %}


{% block content%}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="d-grid">
                    <button type="button" class="btn btn-outline-primary">Create new event</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h1 class="display-6">Event lists</h1>
            </div>
        </div>
    </div>
{% endblock %}